<app-content-header [title]="'Patient Bill'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-2 p-3">
                                <img [src]="imageUrl" class="img-fluid w-100 img-thumbnail" />
                            </div>
                            <div class="col-sm-8 col-md-9 col-lg-10">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4 mb-3">
                                        <label>Patient Code<span class="text-danger">*</span></label>
                                        <p>{{bill?.outpatient_visit?.patient?.code}}</p>
                                    </div>

                                    <div class="col-sm-6 col-lg-4 mb-3">
                                        <label>Gender<span class="text-danger">*</span></label>
                                        <p>{{bill?.outpatient_visit?.patient?.gender}}</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 mb-3">
                                        <label>Date of Birth<span class="text-danger">*</span></label>
                                        <p>{{bill?.outpatient_visit?.patient?.dob}}</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 mb-3">
                                        <label>First Name<span class="text-danger">*</span></label>
                                        <p>{{bill?.outpatient_visit?.patient?.first_name}}</p>

                                    </div>
                                    <div class="col-sm-6 col-lg-4 mb-3">
                                        <label>Other Name<span class="text-danger">*</span></label>
                                        <p>{{bill?.outpatient_visit?.patient?.other_names}}</p>

                                    </div>
                                    <div class="col-sm-6 col-lg-4 mb-3">
                                        <label>ID No.<span class="text-danger">*</span></label>
                                        <p>{{bill?.outpatient_visit?.patient?.id_number}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <form 
                            [formGroup]="billForm"
                            (ngSubmit)="updateBill()">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Department</th>
                                    <th>Consultation Type</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>{{bill?.outpatient_visit?.department?.name}}</td>
                                    <td>{{bill?.outpatient_visit?.consultation_type?.name}}</td>
                                    <td><b>KES {{bill?.totals | number:'1.0-0'}}</b></td>
                                    <td><b class="text-danger">KES {{(bill?.totals - bill?.paid) | number:'1.0-0'}}</b></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><b>Received:</b></td>
                                    <td><b>KES:</b></td>
                                    <td><input type="number" formControlName="amount" placeholder="Received Amount" class="form-control"/></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Balance:</b></td>
                                    <td><b class="d-none">KES:</b></td>
                                    <td><b class="text-danger">KES {{((bill.totals - bill.paid) - billForm.get("amount").value) | number:'1.2-2'}}</b></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>

                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary" [disabled]="isLoading ||((bill.totals - bill.paid) - billForm.get('amount').value)!=0||bill.paid==bill.totals" (click)="updateBill()">
                                <span *ngIf="isLoading">
                                    <div class="spinner-border spinner-border-sm" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    Saving...
                                </span>
                                <span *ngIf="!isLoading">
                                    <i class="fas fa-paper-plane"></i>&nbsp;
                                    Update Bill
                                </span>
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>