<div class="card shadow-sm border">
    <div class="card-body">
        <div class='alert alert-primary mt-2 border'>
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h6><i class='fas fa-user-nurse'></i> SERVICES/PROCEDURES</h6>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-light btn-sm" (click)="addServiceRate()"><i class="fas fa-plus"></i> Add
                        New</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Service/Procedure</th>
                    <th>Units</th>
                    <th>Rate <span class="small">(KES)</span></th>
                    <th>Amount <span class="small">(KES)</span></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" *ngIf="formArray.controls.length == 0">
                            <div class="alert alert-secondary text-center"><i class="fas fa-ban"></i> No
                                <b>Services/Procedures</b> yet. Click the '+ Add New' button
                                to add here
                            </div>
                        </td>
                    </tr>
                    <!-- Display existing systems -->
                    <tr *ngFor="let item of formArray.controls; let i = index" [formGroup]="$any(item)">

                        <td>{{ i + 1 }}</td>
                        <td><ng-select [items]="service_rates" bindLabel="service.name" bindValue="id"
                                formControlName="service_rate" placeholder="Select service"
                                [typeahead]="searchServiceRates$" (change)="serviceRateChange($event, i)"
                                [loading]="loadingServiceRates" placeholder="Search Service" [class.is-invalid]="item.get('service_rate')?.invalid &&(item.get('service_rate')?.touched || item.get('service_rate')?.dirty)">
                            </ng-select>
                            <div class="invalid-feedback d-block"
                                *ngIf="item.get('service_rate')?.errors?.['required']">
                                Service is required
                            </div>
                        </td>
                        <td><input style="min-width: 80px;" type="number" class="form-control" placeholder="Qty"
                                formControlName="quantity" /></td>
                        <td>{{item.value.rate | number:'1.0-0'}}</td>
                        <td>{{item.value.amount | number:'1.0-0'}}</td>
                        <td class="text-right">
                            <button class="btn text-danger" (click)="removeServiceRate(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">Totals:</td>
                        <td><b>KES {{ serviceTotals | number:'1.0-0' }}</b></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>