<app-content-header [title]="'Patient Consultation'"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="consultationForm" (submit)="addConsultation()">
          <input type="hidden" formControlName="id" />
          <input type="hidden" formControlName="consultation_id" />

          <ngb-accordion #a="ngbAccordion" [activeIds]="activeIds">
            <ngb-panel id="custom-panel-patient">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <h5 class="m-0">Patient Visit Details</h5>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Patient Code:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.code
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Visit Code:</label>
                    <p>
                      {{ consultation?.outpatient_visit?.code }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Patient Name:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.salutation?.name
                      }}
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.first_name
                      }}
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.other_names
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Department:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.department?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Fee Type:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.fee_type?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Date Of Birth:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.dob
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Age:</label>
                    <p>
                      <span *ngIf="age?.years > 0"><b>{{ age?.years }}</b>
                        Years</span>
                      <span *ngIf="
                                                    age?.years <= 0 &&
                                                    age?.months
                                                "><b>{{ age?.months }}</b>
                        Months</span>
                      <span *ngIf="
                                                    age?.years <= 0
                                                "><b>{{ age?.days }}</b>
                        Days</span>
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Scheme:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit?.scheme?.name
                      }} ({{
                      consultation?.outpatient_visit?.scheme?.insurance?.name
                      }})
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Speciality:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.specialization?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Doctor</label>:
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.doctor?.salutation?.name
                      }}
                      {{
                      consultation?.outpatient_visit
                      ?.doctor?.firstname
                      }}
                      {{
                      consultation?.outpatient_visit
                      ?.doctor?.other_names
                      }}
                    </p>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel [id]="'custom-panel-triage'">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <h5 class="m-0">
                      Triage Details
                    </h5>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row" *ngIf="consultation != null">
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2"
                    *ngFor="let triage_item of consultation?.outpatient_visit?.outpatient_visit_triage?.patient_triage">
                    <label>{{ triage_item?.triage_item?.name }}</label>
                    <p>{{ triage_item?.triage_value}} {{ triage_item?.triage_item?.units }}</p>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel [id]="'custom-panel-consultation'">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <!--<h5 class="m-0">
                      Consultation
                    </h5>-->
                    <span><b>Consultation</b> (Click '+' to add/view Family medical history, Social history, Patient
                      surgical history, Allergies, Patient complants)</span>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>

                <!--Patient Complaints-->
                <div #allergySection>
                  <app-allergies-form [formArray]="formAllergies"
                    [patientAllergies]="patientAllergies"></app-allergies-form>
                </div>

                <!--Consultation-->
                <div #consultationSection>
                  <app-consultation-notes-form [(content)]="consultationNotes" [height]="300"
                    (contentChange)="onConsultationNotesChange($event)"></app-consultation-notes-form>
                </div>

                <!--Review of Systems-->
                <div #reviewOfSystemsSection>
                  <app-review-of-systems-form [formArray]="formSystems"
                    [patientReviewOfSystems]="patientReviewOfSystems"></app-review-of-systems-form>
                </div>

                <!--Patient Medical History-->
                <div #medicalHistorySection>
                  <app-medical-history-form [formArray]="formMedicalHistory"
                    [patientMedicalHistories]="patientMedicalHistories"></app-medical-history-form>
                </div>

                <!--Patient Surgical History-->
                <div #surgicalHistorySection>
                  <app-surgery-history-form [formArray]="formSurgery"
                    [patientSurgicalHistories]="patientSurgicalHistories"></app-surgery-history-form>
                </div>

                <!--Social History-->
                <div #socialHistorySection>
                  <app-social-history-form [formArray]="formSocialHistory"
                    [patientSocialHistories]="patientSocialHistories"></app-social-history-form>
                </div>

                <!--Family Medical History-->
                <div #familyMedicalHistorySection>
                  <app-family-medical-history-form [formArray]="formFamilyMedicalHistory"
                    [patientFamilyMedicalHistories]="patientFamilyMedicalHistories"></app-family-medical-history-form>
                </div>

              </ng-template>
            </ngb-panel>

          </ngb-accordion>

          <!--Diagnosis-->
          <div class="card shadow-sm border" #diagnosisSection>
            <div class="card-body">
              <app-diagnosis-form [formArray]="formDiagnosis"
                [patientDiagnoses]="patientDiagnoses"></app-diagnosis-form>
            </div>
          </div>

          <!--laboratory test-->
          <div #laboratoryTestSection>
            <app-laboratory-test-form [formArray]="formLabRate" [patientLaboratoryTests]="patientLaboratoryTests"
              (totalsChanged)="labTotals = $event"></app-laboratory-test-form>
          </div>


          <!--Radiology Test-->
          <div #radiologyTestSection>
            <app-radiology-test-form [formArray]="formRadRate" [patientRadiologyTests]="patientRadiologyTests"
              (totalsChanged)="radTotals = $event"></app-radiology-test-form>
          </div>

          <!--Services/Procedures-->
          <div #servicesSection>
            <app-services-form [formArray]="formServiceRate" [patientServices]="patientServices"
              (totalsChanged)="serviceTotals = $event"></app-services-form>
          </div>

          <!--Pharmacy-->
          <div #prescriptionsSection>
            <app-prescriptions-form *ngIf="consultation?.outpatient_visit" [formArray]="formPrescriptions"
              [patientPrescriptions]="patientPrescriptions" [scheme]="consultation?.outpatient_visit?.scheme"
              (totalsChanged)="prescriptionTotals = $event"></app-prescriptions-form>
          </div>

          <!--Sick Leave-->
          <div #sickLeaveSection>
            <app-sick-leave-form [formArray]="formSickLeave"
              [patientSickLeaves]="patientSickLeaves"></app-sick-leave-form>
          </div>

          <!--Grand Totals-->
          <div class="card shadow-sm border">
            <div class="card-body">
              <div class='alert alert-primary mt-2 border'>
                <div class="row d-flex align-items-center">
                  <div class="col">
                    <h6><i class='fas fa-calculator'></i> GRAND TOTALS</h6>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <h3><span class="small">TOTALS:</span><br />
                  <b class="text-danger"><span class="small">KES</span> {{
                    labTotals+radTotals+prescriptionTotals+serviceTotals | number:'1.0-0' }}</b>
                </h3>
              </div>
            </div>
          </div>

          <div class="card shadow-sm border">
            <div class="card-body">
              <div class="alert alert-danger" *ngIf='user?.id != consultation?.outpatient_visit?.doctor?.user_id'>
                This consultation is assigned to a doctor NOT ATTACHED to your account. Consultation cannot be saved
              </div>
              <div class="alert alert-danger" *ngIf='consultation?.outpatient_visit?.status != ("active"||"review")'>
                This consultation is marked as <b>{{consultation?.outpatient_visit?.status | uppercase}}</b>. To Edit
                Review Consultation change the visit status first
              </div>
              <div class="mb-3 text-right">
                <button type="button" class="btn btn-danger mr-3"
                  *ngIf='consultation?.outpatient_visit?.status == ("active"||"review")'
                  [disabled]="isLoading||(user?.id != consultation?.outpatient_visit?.doctor?.user_id)"
                  (click)="closeEMR()">
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <i class="fab fa-airbnb" *ngIf="!isLoading"></i> Close EMR
                </button>
                <button type="button" class="btn btn-primary"
                  *ngIf='consultation?.outpatient_visit?.status == ("active"||"review")'
                  [disabled]="isLoading||(user?.id != consultation?.outpatient_visit?.doctor?.user_id)"
                  (click)="addConsultation()">
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <i class="fab fa-airbnb" *ngIf="!isLoading"></i> Save Consultation
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>