<app-content-header [title]="'Patient Consultation'"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="consultationForm" (submit)="addConsultation()">
          <input type="hidden" formControlName="id" />
          <input type="hidden" formControlName="consultation_id" />

          <ngb-accordion #a="ngbAccordion" [activeIds]="activeIds">
            <ngb-panel id="custom-panel-patient">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <h5 class="m-0">Patient Visit Details</h5>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Patient Code:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.code
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Visit Code:</label>
                    <p>
                      {{ consultation?.outpatient_visit?.code }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Patient Name:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.first_name
                      }}
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.other_names
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Department:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.department?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Consultation Type:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.consultation_type?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Date Of Birth:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.dob
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Age:</label>
                    <p>
                      <span *ngIf="age?.years > 0"><b>{{ age?.years }}</b>
                        Years</span>
                      <span *ngIf="
                                                    age?.years <= 0 &&
                                                    age?.months
                                                "><b>{{ age?.months }}</b>
                        Months</span>
                      <span *ngIf="
                                                    age?.years <= 0
                                                "><b>{{ age?.days }}</b>
                        Days</span>
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Main Type:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit?.patient
                      ?.main_type?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Sub Type:</label>
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.sub_type?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Account</label>:
                    <p>
                      {{
                      consultation?.outpatient_visit
                      ?.patient?.account?.name
                      }}
                    </p>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel [id]="'custom-panel-triage'">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <h5 class="m-0">
                      Triage Details
                    </h5>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row" *ngIf="consultation != null">
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2"
                    *ngFor="let triage_item of consultation?.outpatient_visit?.outpatient_visit_triage?.patient_triage">
                    <label>{{ triage_item?.triage_item?.name }}</label>
                    <p>{{ triage_item?.triage_value}} {{ triage_item?.triage_item?.units }}</p>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel [id]="'custom-panel-consultation'">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <!--<h5 class="m-0">
                      Consultation
                    </h5>-->
                    <span><b>Consultation</b> (Click '+' to add/view Family medical history, Social history, Patient
                      surgical history, Allergies, Patient complants)</span>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>

                <!--Patient Complaints-->
                <app-allergies-form [formArray]="formAllergies"></app-allergies-form>

                <!--Consultation-->
                <app-consultation-notes-form [(content)]="consultationNotes" [height]="300"
                  (contentChange)="onConsultationNotesChange($event)"></app-consultation-notes-form>

                <!--Review of Systems-->
                <app-review-of-systems-form [formArray]="formSystems"></app-review-of-systems-form>

                <!--Patient Medical History-->
                <app-medical-history-form [formArray]="formMedicalHistory"></app-medical-history-form>

                <!--Patient Surgical History-->
                <app-surgery-history-form [formArray]="formSurgery"></app-surgery-history-form>

                <!--Social History-->
                <app-social-history-form [formArray]="formSocialHistory"></app-social-history-form>

                <!--Family Medical History-->
                <app-family-medical-history-form [formArray]="formFamilyMedicalHistory"></app-family-medical-history-form>

              </ng-template>
            </ngb-panel>

          </ngb-accordion>

          <!--Diagnosis-->
          <div class="card shadow-sm border">
            <div class="card-body">
              <app-diagnosis-form [formArray]="formDiagnosis"></app-diagnosis-form>
            </div>
          </div>

          <!--laboratory test-->
          <app-laboratory-test-form [formArray]="formLabRate" (totalsChanged)="labTotals = $event"></app-laboratory-test-form>
          

          <!--Radiology Test-->
          <app-radiology-test-form [formArray]="formRadRate" (totalsChanged)="radTotals = $event"></app-radiology-test-form>

          <!--Services/Procedures-->
          <app-services-form [formArray]="formServiceRate" (totalsChanged)="serviceTotals = $event"></app-services-form>
          <!--Pharmacy-->
          <app-prescriptions-form [formArray]="formPrescriptions" (totalsChanged)="prescriptionTotals = $event"></app-prescriptions-form>
          <!--Sick Leave-->
          <app-sick-leave-form [formArray]="formSickLeave"></app-sick-leave-form>

          <!--Grand Totals-->
          <div class="card shadow-sm border">
            <div class="card-body">
              <div class='alert alert-primary mt-2 border'>
                <div class="row d-flex align-items-center">
                  <div class="col">
                    <h6><i class='fas fa-calculator'></i> GRAND TOTALS</h6>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <h3><span class="small">TOTALS:</span><br />
                  <b class="text-danger"><span class="small">KES</span> {{ labTotals+radTotals+prescriptionTotals+serviceTotals | number:'1.0-0' }}</b>
                </h3>
              </div>
            </div>
          </div>

          <div class="card shadow-sm border">
            <div class="card-body">
              <div class="mb-3 text-right">
                <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addConsultation()">
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <i class="fab fa-airbnb" *ngIf="!isLoading"></i> Save Consultation
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>