<app-content-header [title]="'Triage Items'"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h6>
                  <i class="fas fa-user-md"></i>
                  Triage Items
                </h6>
              </div>
              <div class="col text-right">
                <button class="btn btn-primary btn-sm" (click)="openModal(content, null)">
                  <i class="fas fa-plus"></i> Add Triage Item
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Item Type</th>
                <th>Range</th>
                <th>Units</th>
                <th>Required</th>
                <th>Status</th>
                <th class="text-right">Action</th>
              </thead>
              <tbody>
                <tr *ngIf="isLoading">
                  <td colspan="9" class="text-center">
                    <div class="alert alert-secondary">
                      <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Loading Triage Items...
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!isLoading && triage_items.length == 0">
                  <td colspan="9" class="text-center">
                    <div class="alert alert-secondary">
                      <i class="fas fa-ban"></i> No
                      <b>Triage Items</b> found!
                    </div>
                  </td>
                </tr>
                <tr *ngFor="
                                        let triage_item of triage_items;
                                        let i = index
                                    ">
                  <td>{{ i + 1 }}</td>
                  <td>{{ triage_item.name }}</td>
                  <td>{{ triage_item.triage_category.name }}</td>
                  <td>{{ triage_item.item_types }}</td>
                  <td>{{ triage_item.min_value }} - {{ triage_item.max_value }}</td>
                  <td>{{ triage_item.units }}</td>
                  <td>
                    <span class="text-primary" *ngIf="triage_item.is_required">YES</span>
                    <span class="text-secondary" *ngIf="!triage_item.is_required">NO</span>
                  </td>
                  <!--
                  <td>
                    {{ formatDate(triage_item.created_at) }}
                  </td>-->
                  <td>
                    <span class="badge badge-primary btn-pill" *ngIf="triage_item.status">Active</span>
                    <span class="badge badge-secondary btn-pill" *ngIf="!triage_item.status">In-Active</span>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-outline-primary btn-sm pr-3 pl-3 border-0" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a ngbDropdownItem [routerLink]="
                                                        '/dashboard/triage/items/view/' +
                                                        triage_item.id
                                                    "><i class="fas fa-eye"></i>
                          View</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem (click)="
                                                openModal(content, triage_item)
                                            "><i class="fas fa-edit"></i>
                          Edit</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add/Edit Triage Item</h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="triageItemsForm" (submit)="addLocation()">
      <input type="hidden" formControlName="id" />
      <div class="mb-3">
        <label>Name</label>
        <input class="form-control" placeholder="Name" formControlName="name" />
      </div>
      <div class="mb-3">
        <label>Triage Category</label>
        <ng-select [items]="triage_categories" bindLabel="name" bindValue="id" [typeahead]="search$" [loading]="loading"
          [(ngModel)]="selectedOption" placeholder="Search for Triage Category" (change)="onItemSelect($event)"
          formControlName="category"></ng-select>
      </div>
      <div class="mb-3">
        <label>Item Types</label>
        <select class="form-control custom-select" formControlName="item_type">
          <option value="text">Text</option>
          <option value="number">Number</option>
          <option value="integer">Integer</option>
          <option value="textarea">Textarea</option>
          <option value="checkbox">Checkbox</option>
          <option value="choices">Choices</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Unit of measure</label>
        <input type="text" class="form-control" formControlName="units" placeholder="Unit of measure" />
      </div>
      <div class="mb-3">
        <label>Minimum Value</label>
        <input type="number" class="form-control" formControlName="min_value" placeholder="Minimum Value" />
      </div>
      <div class="mb-3">
        <label>Maximum Value</label>
        <input type="number" class="form-control" formControlName="max_value" placeholder="Maximum Value" />
      </div>
      <div class="mb-3">
        <label>Required</label>
        <select class="form-control custom-select" formControlName="required">
          <option value="1">YES</option>
          <option value="0">NO</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Status</label>
        <select class="form-control custom-select" formControlName="status">
          <option value="1">Active</option>
          <option value="0">Inactive</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addLocation()">
      <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
      </div>
      Save Changes
    </button>
  </div>
</ng-template>
