<app-content-header [title]="'Bill Reprints'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h6>
                                    <i class="fas fa-file-pdf"></i>
                                    Patient Reprints
                                </h6>
                            </div>
                            <!--
                            <div class="col text-right">
                                <a
                                    [routerLink]="
                                        '/dashboard/visits/op/create'
                                    "
                                    class="btn btn-primary btn-sm"
                                >
                                    <i class="fas fa-plus"></i> Add OP Visit
                                </a>
                            </div>-->
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Bill. No</th>
                                <th>Patient Code</th>
                                <th>Visit Code</th>
                                <th>Patient Name</th>
                                <th>Totals</th>
                                <!--<th>Paid</th>
                                <th>Balance</th>-->
                                <th>Date</th>
                                <!--<th>Status</th>-->
                                <th class="text-right">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td colspan="8" class="text-center">
                                        <div class="alert alert-secondary">
                                            <div
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                *ngIf="isLoading"
                                            >
                                                <span class="sr-only"
                                                    >Loading...</span
                                                >
                                            </div>
                                            Loading Bills...
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="!isLoading && bills.length == 0">
                                    <td colspan="8" class="text-center">
                                        <div class="alert alert-secondary">
                                            <i class="fas fa-ban"></i> No
                                            <b>Bills</b> Found!
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let bill of bills;
                                        let i = index
                                    "
                                >
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ bill.code }}</td>
                                    <td>{{ bill.outpatient_visit.patient.code }}</td>
                                    <td>{{ bill.outpatient_visit.code }}</td>
                                    <td>
                                        {{ bill.outpatient_visit.patient.first_name }}
                                        {{ bill.outpatient_visit.patient.other_names }}
                                    </td>
                                    <td class='text-muted'>KES {{ bill.totals-bill.discount |number:'1.2-2' }}</td>
                                    <!--<td class="text-success">{{ bill.paid |number:'1.2-2' }}</td>
                                    <td class="text-danger">{{ bill.totals-bill.paid-bill?.discount |number:'1.2-2' }}</td>-->
                                    <td>
                                        {{ formatDate(bill.created_at) }}
                                    </td>
                                    <!--<td>
                                        <span
                                            class="badge badge-secondary btn-pill"
                                            *ngIf="!bill.status"
                                            >Inactice</span>
                                        <span
                                            class="badge badge-primary btn-pill"
                                            *ngIf="bill.status"
                                            >Active</span>
                                    </td>-->
                                    <td class="text-right">
                                        <button class="btn btn-outline-primary" (click)="openPdfInNewTab(bill.id)"><i class="fas fa-file-pdf"></i> Print</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
