<app-content-header [title]="'Doctors'"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h6>
                  <i class="fas fa-user-md"></i>
                  Doctors
                </h6>
              </div>
              <div class="col text-right">
                <button class="btn btn-primary btn-sm" (click)="openModal(content, null)">
                  <i class="fas fa-plus"></i> Add Doctor
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Location</th>
                <th>User</th>
                <th>Consultation Fees</th>
                <th>Date</th>
                <th>Status</th>
                <th class="text-right">Action</th>
              </thead>
              <tbody>
                <tr *ngIf="isLoading">
                  <td colspan="9" class="text-center">
                    <div class="alert alert-secondary">
                      <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Loading Doctors...
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!isLoading && doctors.length == 0">
                  <td colspan="9" class="text-center">
                    <div class="alert alert-secondary">
                      <i class="fas fa-ban"></i> No
                      <b>Doctors Found!</b>
                    </div>
                  </td>
                </tr>
                <tr *ngFor="
                                        let doctor of doctors;
                                        let i = index
                                    ">
                  <td>{{ i + 1 }}</td>
                  <td>{{ doctor.name }}</td>
                  <td>{{ doctor.department.name }}</td>
                  <td>{{ doctor.location.name }}</td>
                  <td>{{ doctor.user.firstname }} {{ doctor.user.lastname }}</td>
                  <td>{{ doctor.consultation_fees }}</td>
                  <td>
                    {{ formatDate(doctor.created_at) }}
                  </td>
                  <td>
                    <span class="badge badge-primary btn-pill" *ngIf="doctor.status">Active</span>
                    <span class="badge badge-secondary btn-pill" *ngIf="!doctor.status">In-Active</span>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-primary btn-sm" (click)="
                                                openModal(content, doctor)
                                            ">
                      <i class="fas fa-edit"></i> Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add/Edit Doctor</h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="doctorsForm" (submit)="addLocation()">
      <input type="hidden" formControlName="id" />
      <div class="mb-3">
        <label>Name</label>
        <input class="form-control" placeholder="Name" formControlName="name" s />
      </div>
      <div class="mb-3">
        <label>Department</label>
        <ng-select [items]="departments" bindLabel="name" bindValue="id" [typeahead]="searchDepartments$" [loading]="loadingDepartments"
          [(ngModel)]="selectedDepartmentOption" placeholder="Search for department" (change)="onItemSelect($event)"
          formControlName="department"></ng-select>
      </div>
      <div class="mb-3">
        <label>Consultation Fees</label>
        <input type='number' class="form-control" placeholder="Consultation Fees" formControlName="consultation_fees"/>
      </div>
      <div class="mb-3">
        <label>User Link</label>
        <ng-select [items]="users" bindLabel="name" bindValue="id" [typeahead]="searchUsers$" [loading]="loadingUsers"
          [(ngModel)]="selectedUserOption" placeholder="Search for user" (change)="onItemSelect($event)"
          formControlName="user"></ng-select>
      </div>
      <div class="mb-3">
        <label>Location</label>
        <ng-select [items]="locations" bindLabel="name" bindValue="id" [typeahead]="searchLocations$" [loading]="loadingLocations"
          [(ngModel)]="selectedLocationOption" placeholder="Search for Location" (change)="onItemSelect($event)"
          formControlName="location"></ng-select>
      </div>
      <div class="mb-3 d-none">
        <label>Description</label>
        <textarea rows="5" class="form-control" placeholder="Description" formControlName="description"></textarea>
      </div>
      <div class="mb-3">
        <label>Status</label>
        <select class="form-control custom-select" formControlName="status">
          <option value="1">Active</option>
          <option value="0">Inactive</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addLocation()">
      <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
      </div>
      Save Changes
    </button>
  </div>
</ng-template>
