<app-content-header [title]="'Plans'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h6>
                                    <i class="fas fa-star-of-life"></i>
                                    Plans
                                </h6>
                            </div>
                            <div class="col text-right">
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="openModal(content, null)"
                                >
                                    <i class="fas fa-plus"></i> Add Plan
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Main Account</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td colspan="6" class="text-center">
                                        <div class="alert alert-secondary">
                                            <div
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                *ngIf="isLoading"
                                            >
                                                <span class="sr-only"
                                                    >Loading...</span
                                                >
                                            </div>
                                            Loading Plans...
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="!isLoading && plans.length == 0">
                                    <td colspan="6" class="text-center">
                                        <div class="alert alert-secondary">
                                            <i class="fas fa-ban"></i> No
                                            <b>Plans</b> Found!
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let plan of plans;
                                        let i = index
                                    "
                                >
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ plan.name }}</td>
                                    <td>{{ plan.main_account.name }}</td>
                                    <td>
                                        {{ formatDate(plan.created_at) }}
                                    </td>
                                    <td>
                                        <span
                                            class="badge badge-primary btn-pill"
                                            *ngIf="plan.status"
                                            >Active</span
                                        >
                                        <span
                                            class="badge badge-secondary btn-pill"
                                            *ngIf="!plan.status"
                                            >In-Active</span
                                        >
                                    </td>
                                    <td class="text-right">
                                        <button
                                            class="btn btn-primary btn-sm"
                                            (click)="
                                                openModal(content, plan)
                                            "
                                        >
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add/Edit Plan</h4>
        <button
            type="button"
            class="btn-close close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="planForm" (submit)="addLocation()" class="row">
            <input type="hidden" formControlName="id" />
            <div class="col-sm-12 mb-3">
                <label>Name</label>
                <input
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                    s
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Account</label>
                <ng-select
                    [items]="accounts"
                    bindLabel="name"
                    bindValue="id"
                    [typeahead]="search$"
                    [loading]="loading"
                    [(ngModel)]="selectedOption"
                    placeholder="Search for Account"
                    (change)="onItemSelect($event)"
                    formControlName="account"
                ></ng-select>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Plan Type</label>
                <select
                    class="form-control custom-select"
                    formControlName="plan_type"
                >
                    <option value="OP+IP">OP+IP</option>
                    <option value="OP">OP</option>
                    <option value="IP">IP</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Limit Type</label>
                <select
                    class="form-control custom-select"
                    formControlName="limit_type"
                >
                    <option value="Overall">Overall</option>
                    <option value="Visit">Visit</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Copay Amount</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Copay Amount"
                    formControlName="copay_amount"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Copay Percentage</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Copay Percentage"
                    formControlName="copay_percentage"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Copay Percentage Type</label>
                <select
                    class="form-control custom-select"
                    formControlName="copay_percentage_type"
                >
                    <option value="All">All</option>
                    <option value="Visit">Visit</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Overall OP Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Overall OP Limit"
                    formControlName="overall_op_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Overall IP Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Overall IP Limit"
                    formControlName="overall_ip_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>OP Visit Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="OP Visit Limit"
                    formControlName="op_visit_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>IP Visit Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="IP Visit Limit"
                    formControlName="ip_visit_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Pharmacy Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Pharmacy Limit"
                    formControlName="pharmacy_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Lab Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Lab Limit"
                    formControlName="lab_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Radiology Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Radiology Limit"
                    formControlName="radiology_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Services Limit</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Services Limit"
                    formControlName="services_limit"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Start Date</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="Start Date"
                    formControlName="start_date"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>End Date</label>
                <input
                type="number"
                    class="form-control"
                    placeholder="End Date"
                    formControlName="end_date"
                />
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>For All</label>
                <select
                    class="form-control custom-select"
                    formControlName="forall"
                >
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <label>Status</label>
                <select
                    class="form-control custom-select"
                    formControlName="status"
                >
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addLocation()">
            <div
                class="spinner-border spinner-border-sm"
                role="status"
                *ngIf="isLoading"
            >
                <span class="sr-only">Loading...</span>
            </div>
            Save Changes
        </button>
    </div>
</ng-template>
