<app-content-header [title]="'Patient Triage'"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="triageForm" (submit)="addTriage()">
          <input type="hidden" formControlName="id" />
          <input type="hidden" formControlName="triage_id" />
          <ngb-accordion #a="ngbAccordion" [activeIds]="activeIds">
            <ngb-panel id="custom-panel-triage">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <h5 class="m-0">Visit Details</h5>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Patient Code:</label>
                    <p>
                      {{
                      triage?.outpatient_visit
                      ?.patient?.code
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Visit Code:</label>
                    <p>
                      {{ triage?.outpatient_visit?.code }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Patient Name:</label>
                    <p>
                      {{
                      triage?.outpatient_visit
                      ?.patient?.first_name
                      }}
                      {{
                      triage?.outpatient_visit
                      ?.patient?.other_names
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Department:</label>
                    <p>
                      {{
                      triage?.outpatient_visit
                      ?.department?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Consultation Type:</label>
                    <p>
                      {{
                      triage?.outpatient_visit
                      ?.consultation_type?.name
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Date Of Birth:</label>
                    <p>
                      {{
                      triage?.outpatient_visit
                      ?.patient?.dob
                      }}
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label>Age:</label>
                    <p>
                      <span *ngIf="age?.years > 0"><b>{{ age?.years }}</b>
                        Years</span>
                      <span *ngIf="
                                                    age?.years <= 0 &&
                                                    age?.months
                                                "><b>{{ age?.months }}</b>
                        Months</span>
                      <span *ngIf="
                                                    age?.years <= 0
                                                "><b>{{ age?.days }}</b>
                        Days</span>
                    </p>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel *ngFor="let triage_item of triage_items" [id]="'custom-panel-' + triage_item.id">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <button ngbPanelToggle class="btn">
                    <h5 class="m-0">
                      {{ triage_item.name }}
                    </h5>
                  </button>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="fas fa-minus" *ngIf="opened"></i><i class="fas fa-plus" *ngIf="!opened"></i>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="
                                            let ti of triage_item.triage_items
                                        ">
                    <label *ngIf="ti.item_types != 'checkbox'">{{ ti.name }}<span *ngIf="ti.units != null">({{ ti.units
                        }})</span></label>
                    <!--input text-->
                    <input *ngIf="
                                                ti.item_types === 'text' ||
                                                ti.item_types === 'number' ||
                                                ti.item_types === 'integer'
                                            " [type]="
                                                ti.item_types === 'integer'
                                                    ? 'number'
                                                    : ti.item_types
                                            " class="form-control" placeholder="{{ ti.name }}"
                      formControlName="{{ ti.name }}" [readOnly]="ti.triage_item_operations.length>0" />
                    <!-- Select -->
                    <select *ngIf="ti.item_types === 'choices'" [formControlName]="ti.name">
                      <option *ngFor="
                                                    let option of ti.triage_item_choices
                                                " [value]="option.id">
                        {{ option.name }}
                      </option>
                    </select>

                    <!-- Checkbox -->
                    <input *ngIf="ti.item_types === 'checkbox'" type="checkbox" [id]="ti.id"
                      [formControlName]="ti.name" />
                    <label [for]="ti.id" *ngIf="ti.item_types === 'checkbox'">{{ ti.name }}</label>

                    <!-- Textarea -->
                    <textarea *ngIf="ti.item_types === 'textarea'" [formControlName]="ti.name" [placeholder]="ti.name"
                      class="form-control"></textarea>

                    <div class="text-danger small" *ngIf="
                                                triageForm.get(ti.name)
                                                    .invalid &&
                                                triageForm.get(ti.name).touched
                                            ">
                      *{{ ti.name }} is required.
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

          <div class="card shadow-sm border">
            <div class="card-body">
              <div class="mb-3 text-right">
                <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addTriage()">
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <i class="fab fa-airbnb" *ngIf="!isLoading"></i> Save Changes
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
