<div class='alert alert-primary mt-2 border'>
    <div class="row d-flex align-items-center">
        <div class="col">
            <h6><i class='fas fa-lungs'></i> Review of Systems</h6>
        </div>
        <div class="col text-right">
            <button class="btn btn-light btn-sm" (click)="addSystem()"><i class="fas fa-plus"></i> Add
                New</button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <th>#</th>
            <th>System</th>
            <th>Remarks</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" *ngIf="formArray.controls.length == 0">
                    <div class="alert alert-secondary text-center"><i class="fas fa-ban"></i> No
                        <b>Review of Systems</b> yet. Click the '+ Add New' button
                        to add here
                    </div>
                </td>
            </tr>
            <!-- Display existing systems -->
            <tr *ngFor="let item of formArray.controls; let i = index" [formGroup]="$any(item)">
                <td>{{ i + 1 }}</td>
                <td>
                    <ng-select [items]="systems" bindLabel="name" bindValue="id" [typeahead]="searchSystems$"
                        [(ngModel)]="selectedSystemOption" [loading]="loadingSystems" placeholder="Search for Systems"
                        formControlName="system"></ng-select>
                    <div class="invalid-feedback d-block" *ngIf="item.get('system')?.errors?.['required']">
                        Systems is required
                    </div>
                </td>
                <td><input type="text" class="form-control" placeholder="Remarks" formControlName="remarks"
                        [class.is-invalid]="item.get('remarks')?.invalid && (item.get('remarks')?.touched || item.get('remarks')?.dirty)" />
                    <div class="invalid-feedback d-block" *ngIf="item.get('remarks')?.errors?.['required']">
                        Remarks is required
                    </div>
                </td>
                <td class="text-right">
                    <button class="btn text-danger" (click)="removeSystem(i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>