<div class='alert alert-primary mt-2 border'>
    <div class="row d-flex align-items-center">
        <div class="col">
            <h6><i class='fas fa-notes-medical'></i> Family Medical History</h6>
        </div>
        <div class="col text-right">
            <button class="btn btn-light btn-sm" (click)="addFamilyMedicalHistory()"><i class="fas fa-plus"></i> Add
                New</button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <th>#</th>
            <th>Relationship</th>
            <th>Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" *ngIf="formArray.controls.length == 0">
                    <div class="alert alert-secondary text-center"><i class="fas fa-ban"></i> No
                        <b>Medical History</b> yet. Click the '+ Add New' button
                        to add here
                    </div>
                </td>
            </tr>
            <!-- Display existing medical histories -->
            <tr *ngFor="let item of formArray.controls; let i = index" [formGroup]="$any(item)">
                <td>{{ i + 1 }}</td>
                <td>
                    <ng-select [items]="family_medical_histories" bindLabel="name" bindValue="id"
                        [typeahead]="searchFamilyMedicalHistories$" [(ngModel)]="selectedFamilyMedicalHistoryOption"
                        [loading]="loadingFamilyMedicalHistories" placeholder="Search Family Relations"
                        formControlName="family_medical_history"></ng-select>
                    <div class="invalid-feedback d-block" *ngIf="item.get('family_medical_history')?.errors?.['required']">
                        Family Medical History is required
                    </div>
                </td>
                <td><input type="text" class="form-control" placeholder="Description" formControlName="description"
                        [class.is-invalid]="item.get('description')?.invalid && (item.get('description')?.touched || item.get('description')?.dirty)" />
                    <div class="invalid-feedback d-block" *ngIf="item.get('description')?.errors?.['required']">
                        Description is required
                    </div>
                </td>
                <td class="text-right">
                    <button class="btn text-danger" (click)="removeFamilyMedicalHistory(i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>