<app-content-header [title]="'Main Types'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h6>
                                    <i class="fas fa-folder-open"></i>
                                    Main Types
                                </h6>
                            </div>
                            <div class="col text-right">
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="openModal(content, null)"
                                >
                                    <i class="fas fa-plus"></i> Add Main Type
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Payment Type</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td colspan="7" class="text-center">
                                        <div class="alert alert-secondary">
                                            <div
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                *ngIf="isLoading"
                                            >
                                                <span class="sr-only"
                                                    >Loading...</span
                                                >
                                            </div>
                                            Loading Main Types...
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="!isLoading && main_types.length == 0">
                                    <td colspan="7" class="text-center">
                                        <div class="alert alert-secondary">
                                            <i class="fas fa-ban"></i> No
                                            <b>Main Types Found!</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let main_type of main_types;
                                        let i = index
                                    "
                                >
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ main_type.name }}</td>
                                    <td>{{ main_type.description }}</td>
                                    <td>
                                        {{ formatDate(main_type.created_at) }}
                                    </td>
                                    <td>
                                        <span
                                            class="text-primary"
                                            *ngIf="main_type.payment_type == 'cash'"
                                            >Cash</span
                                        >
                                        <span
                                            class="text-info"
                                            *ngIf="main_type.payment_type != 'cash'"
                                            >Credit</span
                                        >
                                    </td>
                                    <td>
                                        <span
                                            class="badge badge-primary btn-pill"
                                            *ngIf="main_type.status"
                                            >Active</span
                                        >
                                        <span
                                            class="badge badge-secondary btn-pill"
                                            *ngIf="!main_type.status"
                                            >In-Active</span
                                        >
                                    </td>
                                    <td class="text-right">
                                        <button
                                            class="btn btn-primary btn-sm"
                                            (click)="
                                                openModal(content, main_type)
                                            "
                                        >
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add/Edit Main Type</h4>
        <button
            type="button"
            class="btn-close close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="mainTypeForm" (submit)="addLocation()">
            <input type="hidden" formControlName="id" />
            <div class="mb-3">
                <label>Name</label>
                <input
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                    s
                />
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea
                    rows="5"
                    class="form-control"
                    placeholder="Description"
                    formControlName="description"
                ></textarea>
            </div>
            <div class="mb-3">
                <label>Payment Type</label>
                <select
                    class="form-control custom-select"
                    formControlName="payment_type"
                >
                    <option value="cash">Cash</option>
                    <option value="credit">Credit</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Status</label>
                <select
                    class="form-control custom-select"
                    formControlName="status"
                >
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addLocation()">
            <div
                class="spinner-border spinner-border-sm"
                role="status"
                *ngIf="isLoading"
            >
                <span class="sr-only">Loading...</span>
            </div>
            Save Changes
        </button>
    </div>
</ng-template>
