<app-content-header [title]="'Pack Sizes'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h6>
                                    <i class="fas fa-box"></i>
                                    Pack Sizes
                                </h6>
                            </div>
                            <div class="col text-right">
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="openModal(content, null)"
                                >
                                    <i class="fas fa-plus"></i> Add Pack Size
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td colspan="5" class="text-center">
                                        <div class="alert alert-secondary">
                                            <div
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                *ngIf="isLoading"
                                            >
                                                <span class="sr-only"
                                                    >Loading...</span
                                                >
                                            </div>
                                            Loading Pack Sizes...
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="!isLoading && pack_sizes.length == 0">
                                    <td colspan="5" class="text-center">
                                        <div class="alert alert-secondary">
                                            <i class="fas fa-ban"></i> No
                                            <b>Pack Sizes</b> Found!
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let pack_size of pack_sizes;
                                        let i = index
                                    "
                                >
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ pack_size.name }}</td>
                                    <td>
                                        {{ formatDate(pack_size.created_at) }}
                                    </td>
                                    <td>
                                        <span
                                            class="badge badge-primary btn-pill"
                                            *ngIf="pack_size.status"
                                            >Active</span
                                        >
                                        <span
                                            class="badge badge-secondary btn-pill"
                                            *ngIf="!pack_size.status"
                                            >In-Active</span
                                        >
                                    </td>
                                    <td class="text-right">
                                        <button
                                            class="btn btn-primary btn-sm"
                                            (click)="
                                                openModal(content, pack_size)
                                            "
                                        >
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add/Edit Pack Size</h4>
        <button
            type="button"
            class="btn-close close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="packSizeForm" (submit)="addInventoryCategory()">
            <input type="hidden" formControlName="id" />
            <div class="mb-3">
                <label>Name</label>
                <input
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                />
            </div>
            <div class="mb-3">
                <label>No of Items</label>
                <input
                    class="form-control"
                    placeholder="No. of Items"
                    formControlName="items"
                />
            </div>
            <div class="mb-3">
                <label>Status</label>
                <select
                    class="form-control custom-select"
                    formControlName="status"
                >
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addInventoryCategory()">
            <div
                class="spinner-border spinner-border-sm"
                role="status"
                *ngIf="isLoading"
            >
                <span class="sr-only">Loading...</span>
            </div>
            Save Changes
        </button>
    </div>
</ng-template>
