<app-content-header [title]="'Scheme Departments'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h6>
                                    <i class="far fa-heart"></i>
                                    Scheme Departments
                                </h6>
                            </div>
                            <div class="col text-right">
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="openModal(content, null)"
                                >
                                    <i class="fas fa-plus"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Scheme</th>
                                <th>Department</th>
                                <th>Date</th>
                                <th class="text-right">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td colspan="5" class="text-center">
                                        <div class="alert alert-secondary">
                                            <div
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                *ngIf="isLoading"
                                            >
                                                <span class="sr-only"
                                                    >Loading...</span
                                                >
                                            </div>
                                            Loading Scheme Departments...
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="!isLoading && scheme_departments.length == 0">
                                    <td colspan="5" class="text-center">
                                        <div class="alert alert-secondary">
                                            <i class="fas fa-ban"></i> No
                                            <b>Scheme Departments</b> Found!
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let scheme_department of scheme_departments;
                                        let i = index
                                    "
                                >
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ scheme_department.scheme.name }}</td>
                                    <td>{{ scheme_department.department.name}}</td>
                                    <td>
                                        {{ formatDate(scheme_department.created_at) }}
                                    </td>
                                    <!--
                                    <td>
                                        <span
                                            class="badge badge-primary btn-pill"
                                            *ngIf="scheme_department.status"
                                            >Active</span
                                        >
                                        <span
                                            class="badge badge-secondary btn-pill"
                                            *ngIf="!scheme_department.status"
                                            >In-Active</span
                                        >
                                    </td>-->
                                    <td class="text-right">
                                        <button
                                            class="btn btn-primary btn-sm"
                                            (click)="
                                                openModal(content, scheme_department)
                                            "
                                        >
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{this.schemeDepartmentForm.get("id")?.value>0?"Edit":"Add"}} Scheme Department</h4>
        <button
            type="button"
            class="btn-close close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="schemeDepartmentForm" (submit)="addSchemeDepartment()">
            <input type="hidden" formControlName="id" />
            <div class="mb-3">
                <label>Scheme</label>
                <ng-select
                    [items]="schemes"
                    bindLabel="name"
                    bindValue="id"
                    [typeahead]="search$"
                    [loading]="loading"
                    [(ngModel)]="selectedOption"
                    placeholder="Search for Scheme"
                    (change)="onItemSelect($event)"
                    formControlName="scheme"
                ></ng-select>
                <div class="text-danger" *ngIf="schemeDepartmentForm.get('scheme').invalid&&schemeDepartmentForm.get('scheme').touched">
                    Scheme is required
                </div>
            </div>
            <div class="mb-3">
                <label>Department</label>
                <ng-select
                    [items]="departments"
                    bindLabel="name"
                    bindValue="id"
                    [typeahead]="searchDepartment$"
                    [loading]="loadingDepartments"
                    [(ngModel)]="selectedDepartment"
                    placeholder="Search for Department"
                    (change)="onItemSelect($event)"
                    formControlName="department"
                ></ng-select>
                <div class="text-danger" *ngIf="schemeDepartmentForm.get('department').invalid&&schemeDepartmentForm.get('department').touched">
                    Department is required
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addSchemeDepartment()">
            <div
                class="spinner-border spinner-border-sm"
                role="status"
                *ngIf="isLoading"
            >
                <span class="sr-only">Loading...</span>
            </div>
            Save Changes
        </button>
    </div>
</ng-template>
