<div class="card card-outline card-success">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b class="text-success">Aphia</b>One</a>
    </div>
    <div class="card-body">

        <form [formGroup]="registerForm" (ngSubmit)="registerByAuth()">
          <div class="input-group mb-3">
              <input
                  formControlName="firstname"
                  type="text"
                  class="form-control"
                  placeholder="First Name"
              />
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-user"></span>
                  </div>
              </div>
          </div>
          <div class="input-group mb-3">
              <input
                  formControlName="lastname"
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
              />
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="far fa-user"></span>
                  </div>
              </div>
          </div>
          <div class="input-group mb-3">
              <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="Email"
              />
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                  </div>
              </div>
          </div>
          <div class="input-group mb-3">
              <input
                  formControlName="phone"
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
              />
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-phone"></span>
                  </div>
              </div>
          </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password_confirmation"
                    type="password"
                    class="form-control"
                    placeholder="Retype password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="icheck-primary">
                        <input
                            type="checkbox"
                            id="agreeTerms"
                            formControlName="terms_and_conditions"
                            value="agree"
                        />
                        <label for="agreeTerms">
                            I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-12">
                    <pf-button
                        [loading]="isAuthLoading"
                        [disabled]="isAuthLoading"
                        (click)="registerByAuth()"
                    >
                        Register
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <p class="p-2 text-center">
        <a [routerLink]="['/login']" class="text-center">
            I already have a membership</a
        >
        </p>
    </div>
</div>
