<app-content-header [title]="'Payment Modes'"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h6>
                  <i class="fas fa-user-md"></i>
                  Payment Modes
                </h6>
              </div>
              <div class="col text-right">
                <button class="btn btn-primary btn-sm" (click)="openModal(content, null)">
                  <i class="fas fa-plus"></i> Add
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
                <th class="text-right">Action</th>
              </thead>
              <tbody>
                <tr *ngIf="isLoading">
                  <td colspan="5" class="text-center">
                    <div class="alert alert-secondary">
                      <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Loading Payment Modes...
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!isLoading && payment_modes.length == 0">
                  <td colspan="9" class="text-center">
                    <div class="alert alert-secondary">
                      <i class="fas fa-ban"></i> No
                      <b>Payment Modes</b> Found!
                    </div>
                  </td>
                </tr>
                <tr *ngFor="
                                        let payment_mode of payment_modes;
                                        let i = index
                                    ">
                  <td>{{ i + 1 }}</td>
                  <td>{{ payment_mode.name }}</td>
                  <td>
                    {{ formatDate(payment_mode.created_at) }}
                  </td>
                  <td>
                    <span class="badge badge-primary btn-pill" *ngIf="payment_mode.status">Active</span>
                    <span class="badge badge-secondary btn-pill" *ngIf="!payment_mode.status">In-Active</span>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-primary btn-sm" (click)="
                                                openModal(content, payment_mode)
                                            ">
                      <i class="fas fa-edit"></i> Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{paymentModesForm.get("id")?.value>0?"Edit":"Add"}} Payment Mode</h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="paymentModesForm" (submit)="addPaymentMode()">
      <input type="hidden" formControlName="id" />
      <div class="mb-3">
        <label>Name</label>
        <input class="form-control" placeholder="Name" formControlName="name" s />
      </div>
      <div class="mb-3">
        <label>Status</label>
        <select class="form-control custom-select" formControlName="status">
          <option value="1">Active</option>
          <option value="0">Inactive</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="addPaymentMode()">
      <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
      </div>
      Save Changes
    </button>
  </div>
</ng-template>
