<app-content-header [title]="'Departments'"></app-content-header>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ngb-accordion #a="ngbAccordion" [activeIds]="activeIds">
                    <ngb-panel id="custom-search">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div
                                class="d-flex align-items-center justify-content-between"
                            >
                                <button ngbPanelToggle class="btn">
                                    <h6>
                                        <i class="far fa-folder-open"></i>
                                        Departments
                                    </h6>
                                </button>
                                <button ngbPanelToggle class="btn btn-link p-0">
                                    <i class="fas fa-minus" *ngIf="opened"></i
                                    ><i class="fas fa-plus" *ngIf="!opened"></i>
                                </button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <form (submit)="onSearch()" class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </span>
                                        <input
                                            type="text"
                                            [(ngModel)]="filters.search"
                                            name="search"
                                            class="form-control"
                                            placeholder="Search Department"
                                        />
                                    </div>
                                </div>
                            </form>
                            <div class="alert text-right">
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fas fa-times"></i> Clear
                                </button>
                                &nbsp;
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="onSearch()"
                                >
                                    <i class="fas fa-search"></i> Search
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <!--
                            <div class="col">
                                <h6>
                                    <i class="far fa-folder-open"></i>
                                    Departments
                                </h6>
                            </div>-->
                            <div class="col text-right">
                                <button
                                    class="btn btn-outline-primary btn-sm"
                                    (click)="openModal2(content2)"
                                >
                                    <i class="fas fa-file-import"></i>
                                    Import Excel</button
                                >&nbsp;
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="openModal(content, null)"
                                >
                                    <i class="fas fa-plus"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Triage</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td colspan="7" class="text-center">
                                        <div class="alert alert-secondary">
                                            <div
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                *ngIf="isLoading"
                                            >
                                                <span class="sr-only"
                                                    >Loading...</span
                                                >
                                            </div>
                                            Loading Departments...
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngIf="
                                        !isLoading && departments.length == 0
                                    "
                                >
                                    <td colspan="7" class="text-center">
                                        <div class="alert alert-secondary">
                                            <i class="fas fa-ban"></i> No
                                            <b>Departments Found!</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let department of departments;
                                        let i = index
                                    "
                                >
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ department.name }}</td>
                                    <td>{{ department.description }}</td>
                                    <td>
                                        {{ formatDate(department.created_at) }}
                                    </td>
                                    <td>
                                        <span
                                            class="text-primary"
                                            *ngIf="department.triage"
                                            >Yes</span
                                        >
                                        <span
                                            class="text-muted"
                                            *ngIf="!department.triage"
                                            >No</span
                                        >
                                    </td>
                                    <td>
                                        <span
                                            class="badge badge-primary btn-pill"
                                            *ngIf="department.status"
                                            >Active</span
                                        >
                                        <span
                                            class="badge badge-secondary btn-pill"
                                            *ngIf="!department.status"
                                            >In-Active</span
                                        >
                                    </td>
                                    <td class="text-right">
                                        <button
                                            class="btn btn-primary btn-sm"
                                            (click)="
                                                openModal(content, department)
                                            "
                                        >
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            class="text-right p-2"
                            *ngIf="departments.length > 0"
                        >
                            Showing <b>{{ fromItems }}</b> to
                            <b>{{ toItems }}</b> of
                            <b>{{ totalItems }}</b> Entries
                        </div>
                        <div
                            class="d-flex justify-content-end"
                            *ngIf="departments.length > 0"
                        >
                            <ngb-pagination
                                [(page)]="currentPage"
                                [pageSize]="perPage"
                                [collectionSize]="totalItems"
                                (pageChange)="loadPage($event)"
                            ></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add/Edit Department</h4>
        <button
            type="button"
            class="btn-close close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="departmentForm" (submit)="addDepartment()">
            <input type="hidden" formControlName="id" />
            <div class="mb-3">
                <label>Name</label>
                <input
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                    s
                />
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea
                    rows="5"
                    class="form-control"
                    placeholder="Description"
                    formControlName="description"
                ></textarea>
            </div>
            <div class="mb-3">
                <label>Status</label>
                <select
                    class="form-control custom-select"
                    formControlName="status"
                >
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
            <div class="mb-3">
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                        formControlName="triage"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                        >Allow Triage</label
                    >
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading"
            (click)="addDepartment()"
        >
            <div
                class="spinner-border spinner-border-sm"
                role="status"
                *ngIf="isLoading"
            >
                <span class="sr-only">Loading...</span>
            </div>
            Save Changes
        </button>
    </div>
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <i class="fas fa-file-import"></i> Import Departments
        </h4>
        <button
            type="button"
            class="btn-close close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label>Upload File (Excel)</label>
            <input
                type="file"
                class="form-control"
                placeholder="Name"
                formControlName="file"
                (change)="onFileSelected($event)"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading"
            (click)="upload()"
        >
            <div
                class="spinner-border spinner-border-sm"
                role="status"
                *ngIf="isLoading"
            >
                <span class="sr-only">Loading...</span>
            </div>
            <i class="fab fa-airbnb" *ngIf="!isLoading"></i>
            Import
        </button>
    </div>
</ng-template>
