<div class="card card-outline card-success">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b class="text-success">Aphia</b>One</a>
    </div>
    <div class="card-body">

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> &nbsp;Remember Me </label>
                    </div>
                </div>
                <div class="col">
                    <p class="mb-1 text-right">
                        <a [routerLink]="['/forgot-password']">I forgot my password</a>
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-12">
                    <pf-button
                    class="w-100"
                        [variant]="'primary'"
                        [loading]="isAuthLoading"
                        [disabled]="isAuthLoading"
                        (click)="loginByAuth()"
                    >
                        Sign In
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        

        <hr>
        <p class="mt-2">
            <a [routerLink]="['/register']" class="btn btn-outline-primary w-100">
                Register a new membership
            </a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
