<div class="card shadow-sm border">
    <div class="card-body">
        <div class='alert alert-primary mt-2 border'>
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h6><i class='fas fa-x-ray'></i> RADIOLOGY TESTS</h6>
                </div>
                <div class="col text-right">
                    <button class="btn btn-light btn-sm" (click)="addRadRate()"><i class="fas fa-plus"></i> Add
                        New</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Radiology Test</th>
                    <th>Rate <span class="small">(KES)</span></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" *ngIf="formArray.controls.length == 0">
                            <div class="alert alert-secondary text-center"><i class="fas fa-ban"></i> No
                                <b>Radiology Tests</b> yet. Click the '+ Add New' button
                                to add here
                            </div>
                        </td>
                    </tr>
                    <!-- Display existing systems -->
                    <tr *ngFor="let item of formArray.controls; let i = index" [formGroup]="$any(item)">

                        <td>{{ i + 1 }}</td>
                        <td><ng-select [items]="rad_rates" bindLabel="radiology_item.name" bindValue="id"
                                formControlName="rad_rate" placeholder="Select radiology test"
                                [typeahead]="searchRadRates$" (change)="radRateChange($event, i)"
                                [loading]="loadingRadRates" placeholder="Search Radiology Test" [class.is-invalid]="item.get('rad_rate')?.invalid &&(item.get('rad_rate')?.touched || item.get('rad_rate')?.dirty)">
                            </ng-select>
                            <div class="invalid-feedback d-block"
                                *ngIf="item.get('rad_rate')?.errors?.['required']">
                                Radiology Test is required
                            </div>
                        </td>
                        <td>{{item.value.rate | number:'1.0-0'}}</td>
                        <td class="text-right">
                            <button class="btn text-danger" (click)="removeRadRate(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Totals:</td>
                        <td><b>KES {{ radTotals | number:'1.0-0' }}</b></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>